---
layout: default
---

{{ content }}


<h2>Menu</h2>

{% assign p = site.pages | where_exp: "item", "item.path != page.path" %}

{% comment %} Show pages and directories at the current level only. {% endcomment %}

<h3>Pages</h3>

<ul>
    {% for item in p %}
        {% if item.dir == page.dir %}
        <li>
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>

<h3>Sections</h3>

<ul>
    {% for item in p %}
        {% if item.dir contains page.dir and item.name == 'index.md' %}
        <li>
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
